* {
    font-family: cursive, sans-serif;
    color: rgb(0, 255, 0);
}

body {
    background: black;
    background-size: 100% 100%;
    animation: changecolor 60s infinite;
}

@keyframes changecolor {
    50% {background: rgb(0, 100, 0);}
}

img {
    scale: 100%;
}

img#profile {
    position: absolute;
    left: 850px;
    bottom: 300px;
    width: 250px;
    height: 250px;
}

/*different layers of <div>*/

div {
    width: fit-content;
    height: fit-content;
}

div.div1 {
    border-radius: 25px;
    background: rgb(0, 100, 0);
    padding: 10px;
}

div.div2 {
    border-radius: 20px;
    background: rgb(0, 125, 0);
    padding: 10px;
}

div.div3 {
    border-radius: 15px;
    background: rgb(0, 150, 0);
    padding: 10px;
}

/* div.div4 {                       div4 is unused(for now)
    border-radius: 10px;
    background: rgb(0, 175, 0);
    padding: 10px;
} */
